@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <h1>Mi Flickr</h1>
    <div id="imagenes"></div>
    <button id="botonfli" >Dibujar</button>
    <select id="selector">
        <option value="landscapes">Paisajes</option>
        <option value="puppies">Cachorro</option>
        <option value="dogue">Perritos</option>
        <option value="cats%20with%20hats">Gatetes</option>
    </select>
</div>
